// fonts
$font-main: 'Roboto', sans-serif;
$font-title: 'Nunito', sans-serif;
// colors
$color-bg1: #fffff0;
$color-bg2: #808080;
$color-bg3: #c2a6d1;
$color-txt1: #000000;
$color-txt2: #402455;
$color-txt3: #745b81;
$color-txt4: #404040;
