.page__footer {
  position: relative;
  left: 0;
  top: 80px;
  width: 100vw;
  padding: 1rem;
  background-color: $color-txt4;
}
.footer__txt{
  color: $color-bg1;
  font-family: $font-title;
  font-weight: normal;
  text-align: center;
}