.body {
  background-color: $color-bg1;
}
.page__main {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  position: relative;
  top: 80px;
  font-family: $font-main;
  max-width: 1600px;
  margin: 0 auto 0 auto;
  &--favoriteContainer {
    background-image: linear-gradient($color-bg1, $color-bg2);
    width: 30%;
    padding: 15px;
  }
  &--resultContainer {
    padding: 15px;
    width: 70%;
  }
}
.resultList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  list-style-type: none;
  font-size: 18px;
  &--item {
    padding: 20px;
  }
}
.favorites {
  &__title {
    font-family: $font-title;
    margin: 20px 0 20px 0;
    scroll-margin-top: 180px;
  }
  &__list {
    font-family: $font-main;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    &--item {
      padding: 10px;
    }
    &--imgContainer{
      width: 150px;
    }
    &--img{
      width: inherit;
    }
    &--deleteBtn{
      border: none;
      padding: 4px;
    }
    &--title{
      padding: 4px 0;
    }
  }
}

.show--favorite {
  background-color: $color-bg3;
  border: 3px dashed $color-txt3;
}
