.body {
  background-color: $color-bg1;
}

.page__main {
  height: 100vh;
  display: flex;
  flex-direction: row;
  position: relative;
  top: 80px;
  font-family: $font-main;
  &--favoriteContainer {
    background-image: linear-gradient($color-bg1, $color-bg2);
    width: 30%;
    height: 100%;
    padding: 15px;
  }
  &--resultContainer {
    padding: 15px;
    width: 70%;
  }
}
.resultList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-type: none;
  font-size: 18px;
  &--item{
    padding: 20px;
  }
}
.favorites {
  &__title {
    font-family: $font-title;
  }
  &__list {
    font-family: $font-main;
  }
}
.show--favorite{
  background-color: $color-bg3;
}

